.layout-main-section {
    max-width: 100% !important;
    padding: 0 !important;
}

.page-container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.page-head {
    display: none !important;
}

.layout-main {
    padding: 0 !important;
}

.page-content {
    padding: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}